{% extends 'base.html' %}

{% block title %}ログイン|Hunt Assist〜ES編集・管理〜{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
  <div class="my-div-style">
    <div class="row">
      <h1 class="col">ログイン</h1>
    </div>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}

      {{ form.as_p }}

      {% if redirect_field_value %}
      <div class="row">
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      </div>
      {% endif %}

      <button class="btn btn-primary" type="submit">ログイン</button>

      <p><a href="{% url 'account_reset_password' %}">パスワードをわすれましたか？</a></p>
    </form>
  </div>
</div>

{% endblock %}